body{
    font-family: Arial;
    padding-top: 200px;
    padding-right: 10px;
}
button{
    cursor: pointer;
    opacity: 1;
    transition: opacity 0.3s;
}
button:hover{
    cursor: pointer;
    opacity: 0.7;
}
button:active{
    cursor: pointer;
    opacity: 0.4;
}
.header{
    top: 0;
    left: 0;
    right: 0;
    display: block;
    position: fixed;
    width: 100%;
    background-color: rgb(225, 224, 252, 0.9);
}
#main-frame {
    margin: 10px 40px 0px 40px;
    display: flex;
}
#main-input {
    flex: 1;
    font-size: 24px;
    border-color: black;
}
#search-button, #remove-button, #favorites-button{
    width: 60px;
    margin-right: 20px;
}
#search-button img, #remove-button img, #favorites-button img{
    width: 40px;
}
#loader, #no-book{
    text-align: center;
    font-size: 32px;
    font-family: Arial;
    margin-top: 40px;
    display: none;
}
#list{
    margin: 0;
    font-size: 20px;
    list-style-type: circle;
    list-style-position: inside;
    margin-right: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 25px;
    column-gap: 25px;
}
@media(max-width: 1000px){
    #list{
        grid-template-columns: 1fr;
    }
}
@media(min-width: 1500px){
    #list{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
#list li{
    background-color: rgb(215, 215, 245);
    padding: 10px;
    border: solid 5px black;
    border-radius: 15px;
    font-family: Arial;
    display: flex;
    justify-content: space-between;
}
.img-book{
    margin-left: 30px;
    flex: 70px;
}
.img-book img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 135px;
}
.text-field{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 30px;
    flex: 3;
}
.topic-field{
    display: flex;
}
.title-author-fields{
    flex: 1;
}
.topic-field button{
    height: 40px;
    width: 40px;
    border: none;
    border-radius: 20px;

}
.topic-field button img{
    height: 30px;
    width: 30px;
    padding: 5.5px 12px 0 0;
}

.author-book{
    margin: 10px 10px 0 0;
    font-size: 16px;
    text-align: left;
    bottom: 0;
}
.title-book{
    margin: 10px 10px 0 0;
    font-size: 20px;
    text-align: left;
    display: inline-block;
}
.describe-book{
    margin: 10px 10px 0 0;
    font-size: 16px;
    text-align: center;
    display: inline-block;
}
.see-more, .see-less{
    font-size: 16px;
    text-align: center;
}
#sort{
    margin: 20px;
    padding: 0 20px 0 20px;
    height: 100px;
    background-color: rgb(189, 187, 254);
    display: flex;
    border: none;
    border-radius: 40px;
    font-size: 18px;
    font-family: Arial;
    align-items: center;
}
#sort p{
    display: inline-block;
}
#sort button{
    height: 40px;
    padding: 0px 0px 0px 0px;
}
#number-found{
    flex: 1;
    margin: 0 30px 0 30px;
    justify-content: center;
    align-items: center;
}
#input-number-found{
    width: 50px;
}
#sort-menu{
    flex: 3;
    margin: 0 0 0 0;
    justify-content: right;
    align-items: center;
    display: flex;
}
#number-found p{
    margin: 0;
}
#up-down-sort{
    margin: 0;
    height: 30px;
    width: 90px;
    border-radius: 15px;
    border: none;
    background-color: rgb(221, 237, 255);
}
#up-down-sort img{
    height: 30px;
}
#dropbtn {
    margin: 0 15px 0 15px;
    height: 40px;
    width: 200px;
    border-radius: 15px;
    background-color: rgb(221, 237, 255);
    color: black;
    padding: 16px;
    font-size: 16px;
    font-family: Arial;
    border: none;
  }
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    justify-content: center;
    background-color: #f1f1f1;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.6);
    z-index: 1;
}
.dropdown-content button {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    width: 230px;
    display: block;
}
.dropdown-content button:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown:hover .dropbtn {
    background-color: rgb(221, 237, 255);
}
#hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
#page-menu{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.page-number-border, .page-number{
    flex: 1;
}
.move-page{
    width: 50px;
    height: 30px;
    margin: 20px;
}
.page-number{
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 20px;
    pointer-events: all;
}
#active{
    background-color: rgb(182, 211, 244);   
}
#disabled{
    pointer-events: none;
}
.move-page#disabled{
    background-color: rgb(244, 182, 182);
}
.pages-amount{
    text-align: center;
}