#main-frame {
    margin: 40px 40px 0px 40px;
    display: flex;
}
#main-search {
    flex: 1;
    font-size: 24px;
}
#search-button, #remove-button{
    width: 60px;
    margin-left: 20px;
}
#search-button img, #remove-button img{
    width: 40px;
}
#loader, #no-book{
    text-align: center;
    font-size: 32px;
    font-family: Arial;
    margin-top: 40px;
    display: none;
}
#list{
    margin: 40px 0 0 0;
    font-size: 20px;
    list-style-type: none;
    list-style-position: inside;
    margin-right: 30px;
}
#list li{
    background-color: rgb(215, 215, 245);
    margin: 10px 20px 0 10px;
    padding: 10px;
    border: solid 5px black;
    border-radius: 15px;
    font-family: Arial;
}
#list p{
    margin: 10px 10px 0 0;
    font-size: 18px;
    text-align: right;
}